<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Crear/Editar Producto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="~{layaout :: navbar2}"></div>
<div class="container text-center">
    <div class="row">
        <h3 th:if="${producto.id}">Modificar producto <span th:text="${producto.id}"></span></h3>
        <h3 th:if="${producto.id} == null">Crear nuevo Producto</h3>

        <div class="card-body mb-4">
            <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
            <a class="btn btn-success" href="#">Editar</a>
            <a class="btn btn-danger" href="#">Borrar</a>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                    <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
                </div>
            </div>
            <form th:if="${error} == null" th:action="@{/productos}" th:method="POST" th:object="${producto}">

                <input type="hidden" id="id" name="id" th:field="*{id}" />

                <div class="mb-3">
                    <label for="Nombre" class="form-label">Indicar Nombre</label>
                    <input type="text" class="form-control" id="Nombre" th:field="*{nombre}">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Indicar Descripción</label>
                    <textarea type="text" class="form-control" id="descripcion" th:field="*{descripcion}"></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">€</span>
                    <input type="number"step="0.1" class="form-control" id="precio" th:field="*{precio}">
                    <span class="input-group-text">.00</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">grms.</span>
                    <input type="number"step="0.1" class="form-control" id="peso" th:field="*{peso}">
                    <span class="input-group-text">.00</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Unds.</span>
                    <input type="number" class="form-control" id="cantidad" th:field="*{cantidad}">
                </div>
                <div class="mb-3">
                    <label for="fechaFab" class="form-label">Fecha Fabricación</label>
                    <input type="date" class="form-control" id="fechaFab" th:field="*{fechaFab}">
                </div>
                <div class="mb-3">
                    <label for="caducidad" class="form-label">Fecha Caducidad</label>
                    <input type="date" class="form-control" id="caducidad" th:field="*{caducidad}">
                </div>



                <button type="submit" class="btn btn-primary">Guardar</button>
                <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
            </form>
        <div class="col-4">
        </div>
    </div>
</div>
</div>
</div>
<div th:replace="~{layaout :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</body>
</html>