<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="~{layaout :: navbar2}"></div>
<div class="container text-center">
    <div class="row">
        <h3 class="mb-4">Detalle de producto</h3>
        <div class="card-body mb-4">
            <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
            <a class="btn btn-success" th:href="@{/productos/{id}/editar(id=${producto.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/productos/{id}/borrar(id=${producto.id})}">Borrar</a>
        </div>
        <div class="col-1">
        </div>
        <div class="col-5">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                    <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
                </div>
            </div>
            <div class="card" th:if="${error}== null">
                <img src="https://dummyimage.com/300" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title fs-2 fw-bold text-bg-primary" th:text="${producto.nombre}"></h5>
                    <p class="card-text" th:text="${producto.descripcion}"></p>
                    <p class="card-text fs-5 fw-semibold text-bg-info" th:text="| Precio: ${producto.precio} '€'|"></p>
                </div>
                    <ul>
                        <li class="list-group-item">
                               <span th:text="| De la tienda |"></span>
                            <a class="btn btn-link sm" th:text= "${producto.tienda.nombre}" th:href="@{/tiendas/{id}(id=${producto.tienda.id})}"></a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col-5">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                    <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
                </div>
            </div>
                <div class="card" th:if="${error}== null">
                    <img src="https://dummyimage.com/300" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title fs-2 fw-bold text-bg-primary" th:text="${producto.nombre}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-bolder" th:text="| Cantidad : ${producto.cantidad} Unds.|"></li>
                        <li class="list-group-item fw-bolder" th:text="| Fabricado el : ${#temporals.format(producto.fechaFab, 'dd-MM-yyyy')}|"></li>
                        <li class="list-group-item fw-bolder" th:text="| Caduca el : ${#temporals.format(producto.caducidad , 'dd-MM-yyy')}|"></li>
                    </ul>
                    <li class="list-group-item">
                        <button th:if="${producto.stock}" class="btn btn-primary btn-lg mt-2 mb-2" >Disponible</button>
                        <span th:if="${producto.stock} == false" class="btn btn-danger btn-lg mt-2 mb-2">No disponible</span>
                    </li>
                </div>
            </div>
        <div class="mt-3">
            <a type="button" class="btn btn-primary" th:href="@{/productos}">Volver</a>
            <a class="btn btn-success" th:href="@{/productos/{id}/editar(id=${producto.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/productos/{id}/borrar(id=${producto.id})}">Borrar</a>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
</div>
</div>

<div th:replace="~{layaout :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</body>
</html>