<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Gestor Mercados</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="~{layaout :: navbar2}"></div>
<div class="container text-center">
    <div class="row">
        <h1 class="mt-3" th:text="${mensaje}"></h1>
        <div class="col mt-3">

            <div class="shadow-lg p-3 mb-3 bg-body rounded-pill">

                <table class="table table-hover">
                    <div style="text-align: center">
                        <a class="btn btn-info mb-3" th:href="@{/productos/crear}">Crear nuevo producto</a>
                    </div>
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fabricado</th>
                        <th scope="col">Almacenado</th>
                        <th scope="col">precio (€)</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="producto:${productos}">
                        <td th:text="${producto.id}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.fechaFab}"></td>
                        <td th:text="${producto.cantidad}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               th:href="@{/productos/{id}(id=${producto.id})}">Ver</a>
                            <a class="btn btn-success" th:href="@{/productos/{id}/editar(id=${producto.id})}">Editar</a>
                            <a class="btn btn-danger" th:href="@{/productos/{id}/borrar(id=${producto.id})}">Borrar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(productos)}">
                    No hay elementos actualmente.
                </div>
                <div class="text-center" th:if="${#lists.size(productos) > 0}">
                    Hay <span th:text="${#lists.size(productos)}"></span> resultados.
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div th:replace="~{layaout :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</body>
</html>